extends layout

block content
  .main.container.clearfix
    .col-md-8.col-md-offset-2
      //-h1.display-4= #{name}
      h1.display-4= title
      //-h1.display-4.m-b-2 Todos
      //-h1= title


      ul
      each val in list_todos
        li
          a(href=val.url) #{val.name}

      else
        li There are no todo.
